<section class="NewOrderItemPage">
  <h1 class="NewOrderItemPage-title">New Order Item</h1>

  <%= render "form", order_item: @order_item %>

  <p class="NewOrderItemPage-orderItemsPageLink"><%= link_to "Back", order_items_path %></p>
</section>
