.OrderItemPage, .NewOrderItemPage, .ShowOrderItemPage, .EditOrderItemPage {
  max-width: 1000px;
  margin: 100px auto;
  font-family: sans-serif;
  align-items: center;
}

.OrderItemHeader {
  display: flex;
}

.OrderItemHeader-title, .NewOrderItemPage-title, .EditOrderItemPage-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.14px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: rgb(128, 5, 5);
}

.OrderItemTable {
  border: 1px solid transparent;
  border-radius: 30px;
  width: 100%;
  box-shadow: 0 5px 20px 0px rgba(3, 1, 1, 0.1);
}

.OrderItemTable-head {
  background-image: linear-gradient(rgb(233, 116, 20),rgb(233, 133, 51));
  color: white;
  font-size: 20px;
  text-align: center;
}

.OrderItemTable-column1Header {
  border: 3px solid white;
  border-left-width: 1px;
  border-top-left-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OrderItemTable-column2Header {
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OrderItemTable-column3Header {
  border: 3px solid white;
  border-top-right-radius: 30px;
  border-right-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OrderItemTable-column4Header {
  border: 3px solid white;
  border-top-right-radius: 30px;
  border-right-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.OrderItemTable-body {
  max-height: 585px;
  overflow: auto;
}

.OrderItemTable-tableValue {
  font-size: 15px;
  color: rgb(128, 5, 5);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.OrderItemForm {
  background-image: linear-gradient(rgb(236, 110, 8),rgb(235, 151, 83));
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid transparent;
  border-radius: 75px;
  box-shadow: 0 5px 20px 0px rgba(3, 1, 1, 0.1);
}

.OrderItemForm-field {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20%;
  display: flex;
}

.OrderItemForm-fieldTitle {
  padding-top: 5px;
  font-size: 20px;
  color: white;
  font-weight: 1000;
}

.OrderItemForm-orderIDInput {
  margin-left: 50px;
}

.OrderItemForm-menuItemIdInput {
  margin-left: 50px;
}

.OrderItemForm-menuItemNameInput {
  margin-left: 50px;
}

.OrderItemForm-menuItemPriceInput {
  margin-left: 50px;
}

.OrderItemForm-quantityInput {
  margin-left: 50px;
}

.OrderItemForm-totalInput {
  margin-left: 50px;
}

.OrderItemForm-submitButton {
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 50px;
  border: 1px solid rgb(128, 5, 5);
  border-radius: 10px;
  background-color: rgb(128, 5, 5);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.NewOrderItemPage-orderItemsPageLink, .ShowOrderItemPage-link, .EditOrderItemPage-link {
  margin-top: 100px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: rgb(128, 5, 5);
}

.ShowOrderItemPage-createdMessage {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 30px;
}

.ShowOrderItemPage-createdOrderItemDetails {
  text-align: center;
  color: rgb(128, 5, 5);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}
